* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--main-white);
}

canvas {
  border-left: solid var(--main-black) 3px;
  background-color: var(--main-dark-white);
}

button {
  background-color: var(--main-darker-white);
  border: solid var(--main-black) 2px;
  border-radius: 5px;
  transition: all 0.1s;
}

button:hover {
  background-color: var(--main-darkest-white);
}

.big-button {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 4rem;
}

.small-button {
  width: 2rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.slider {
  height: 4px;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

#canvas-overlay {
  position: absolute;
  top: 1.2rem;
  left: 14.2rem;
  z-index: 999;
  opacity: 0.1;
  pointer-events: none;
}

#info-field {
  width: 11rem;
  padding: 1rem;
  background-color: var(--main-dark-white);
}

#info-field > * {
  margin: 0.3rem;
}

#drawing-area {
  border: solid var(--main-black) 3px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#toolbar {
  padding-left: 1rem;
}

#toolbar > * {
  margin: 0.3rem;
}

#application {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1rem;
}
